body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

#kanban-board {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#pending-projects, #active-projects, #finished-projects {
    width: 30%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

#add-project-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#add-project-form input, #add-project-form select {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.friend-list li:hover {
    background-color: #e0e0e0;
}

.project {
    background-color: #b5eaf1;
}